.about {
    font-family:$font-family1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    &__title {
        font-size: 1.1rem;
        color: #656b93;
        margin-top: 90px;
        margin-bottom: -2.5rem;
        margin-left: -20rem;
    }
    &__skills {
        font-family: $font-familyMono;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   
        &__title {
            color: #472183;
            font-size: 1.2rem;
            text-transform: uppercase;

        }
        &__list{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
            
            &__img{
              margin: 0.5rem;
              margin-top: 2rem;
             
              &__icon {
                    width: 2rem;
                    height: 2rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }
       
}



.intro {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: $font-family1;
    &__parraf {
        font-size: 1rem;
        color: #656b93;
        padding: 1rem;
        margin-top: 2rem;
    
        &__p {
            margin-top: 1.1rem;
            line-height: 1.5;
          
            &__name {
                color: #b623f5;
                font-weight: bold;
           }
        } 
        
    }

    &__img {
        margin-top: 3rem;
        width: 15rem;
        height: 12rem;
        border-radius: 2%;
        border-radius: 2rem;
    }

        
}


 @media all and (min-width: 768px) {
    
     .about {
        padding: 10px;
    
         &__title {
            font-size: 1.3rem;
            
            margin-bottom: -2.3em;
         }
         &__skills{
            &__title{
                font-size: 1.5rem;
            }
            &__list{
                &__img {
                    margin: 1rem;
                    margin-top: 2rem;
                
                    &__icon {
                        width: 3.2rem;
                        height: 3.2rem;
                        margin-bottom: 3rem;
                    }
                }
            }
         }
     }

     .intro {
       display: flex;
       flex-direction: row;
        &__parraf {
            font-size: 1.2rem;
            padding: 10px;
          
            &__p {
                margin-top: 20px;
                }
        }
          
        &__img {
             width: 18rem;
             height: 16rem;
             margin-top: 80px;
        }
     }
    
 }
  @media all and (min-width: 1200px) {
    .about {
           margin-top: 2rem;
            &__title {
                font-size: 1.5rem;
                margin-bottom: -5rem;
            }
        }
    .intro {
        &__parraf {
                font-size: 1.3rem;
                padding: 3rem;
               
                &__p {
                   margin-top: 20px;
                 }
            }
        &__img {
            width: 30rem;
            height: 20rem;
            margin-right: 30px;
        }

    }
  }
  
.find {
    margin-top: 50px;
    font-size: 1.2rem;
    color: #472183;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
   &__subtitle {
        color: #472183;
        font-size: 0.8rem;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        
        &__icon {
            background-color:#AE00FB;
            color: white;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.7rem;
            margin: 10px;
            cursor: pointer;
            transition: transform .2s;
        }
    }
}
.icon {
    color: white;
}

.find__list__icon:hover {
    transform: scale(1.5);
}

 @media all and (min-width: 768px) {
    .find {
        font-size: 1.5rem;
        margin-top: 80px;
        &__subtitle {
            font-size: 1rem;
        }
         &__list {
             &__icon {
                 width: 40px;
                 height: 40px;
                 border: solid 2px #b623f5;
             }
         }
       
    }
    
 }
  @media all and (min-width: 1200px) {
    .find {
         &__subtitle {
           font-size: 1rem;
         }
         &__list {
             &__icon {
                 width: 40px;
                 height: 40px;
                   
            }
         }
     }
               
  }
 