.about {
    font-family:$font-familyMono;
    display: flex;
    flex-direction: column;
    width: 100%;
   
    &__title {
        font-size: 1.2rem;
        color: #472183;
        margin-left: 5rem;
        margin-top: 90px;
        margin-bottom: -60px;
        
    }
       
}

.intro {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    &__parraf {
        font-size: 0.8rem;
        color: #472183;
        padding: 10px;
        margin-top: 5rem;
        &__p {
            margin-top: 1rem;
        
            &__name {
                color: #b623f5;
                text-transform: uppercase;
           }
        }
        &__subtitle {
            font-size: 1.2rem;
            margin-bottom: 25px;
            margin-top: 50px;
            margin-left: 10px;
            text-transform: uppercase;
        }
        
    }

    &__img {
        margin-top: 30px;
        width: 15rem;
        height: 12rem;
        border-radius: 2%;
        border: solid 1px #9501d4; 
    }
}

 @media all and (min-width: 768px) {
    
     .about {
        padding: 10px;
    
         &__title {
             font-size: 1.8rem;
         }
     }

     .intro {
       display: flex;
       flex-direction: row;
        &__parraf {
            font-size: 1rem;
            padding: 20px;
            &__subtitle {
                font-size: 1.5rem;
                    padding: 20px;
                    margin-top: 30px;
            }
            &__p {
                    margin-top: 20px;
                }
        }
          
        &__img {
                width: 18rem;
                height: 15rem;
                margin-top: 80px;
               // margin-right: 5rem;
        }
     }
    
 }
  @media all and (min-width: 1200px) {
    .about {
           
            &__title {
                font-size: 1.8rem;
                margin-left: 10rem;
            }
        }
    .intro {
        &__parraf {
            margin-top: 30px;
                font-size: 1.1rem;
                padding: 6rem;
                &__p {
                    margin-top: 20px;
                    }
                
        
            }
        &__img {
            width: 25rem;
            height: 20rem;
           margin-right: 50px;
        }

    }
  }
  
.find {
    margin-top: 50px;
    font-size: 1.2rem;
    color: #472183;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
   &__subtitle {
        color: #472183;
        font-size: 0.8rem;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        
        &__icon {
            background-color: white;
            color: #AE00FB;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            margin: 10px;
            cursor: pointer;
            border: solid 1px #b623f5;
            transition: transform .2s;
        }
    }
}
.find__list__icon:hover {
    transform: scale(1.5);
}
 @media all and (min-width: 768px) {
    .find {
        font-size: 1.5rem;
        margin-top: 80px;
        &__subtitle {
            //margin-left: 12rem;
            font-size: 1rem;
        }
         &__list {
             &__icon {
                 width: 40px;
                 height: 40px;
                 border: solid 2px #b623f5;
        
             }
         }
       
    }
    
 }
  @media all and (min-width: 1200px) {
    .find {
         &__subtitle {
           // margin-left: 32rem;
           font-size: 1rem;
         }
         &__list {
             &__icon {
                 width: 40px;
                 height: 40px;
                   
            }
         }
     }
               
  }
 