.contact {
    width: 100%;
    margin-top: 4rem;
    font-family: $font-familyMono;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
    &__title {
        font-size: 1.5rem;
        color: #472183;
        text-transform: uppercase;
        font-weight: bold;
        padding: 1rem;
        animation: move-left-right 2s 1;
        animation-fill-mode: initial;
       
    }
    &__links {
       margin: 1rem;
       display: flex;
       flex-direction: column;
   
      &__icon {
        margin: 1rem;
        color: white;
        background-color:#9501d4;
        padding: 0.8rem;
        cursor: pointer;
      }
    }
}
@keyframes move-left-right {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(10px);
    }
}

.contact__links:hover {opacity: 1}

@media all and (min-width: 768px) {
    .contact {
        &__title {
            font-size: 2rem;
            margin: 1rem;
            margin-top: 4rem;
        }
        &__links {
            display: flex;
            flex-direction: row;
            margin: 2rem;

            &__icon {
                padding: 1rem;
                font-size: 1.3rem;
                margin: 1rem;
            }
        }
    }
 }

@media all and (min-width: 1200px) {
    .contact {
        &__title {
            font-size: 2rem;
        }

        &__links {
            display: flex;
            flex-direction: row;

            &__icon {
                padding: 1rem;
                font-size: 1.4rem;
                margin: 2rem;
                
            }
        }
    }
}

.form {
    color: #472183;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10%;
    background-color:#dbddec;
    padding: 1rem;
   
   &__title {
    padding: 10px;
    font-size: 1rem;
    color: #472183;
    font-family: $font-familyMono;
    margin: 20px;
    margin-top: 40px;
   }
   &__group {
        padding: 5px;
        margin-top: 5px;
       
        &__label {
            font-size: 1rem;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 0.5rem;
        }
        &__input {
           background-color: white;
           border: none;
           padding: 0.5rem;
           color: #472183;
           width: 18rem;
           font-size: 0.8rem;
           border-radius: 2rem;
           opacity: 0.8;
        }
        &__text {
           background-color: white;
           border: none;
           border-radius: 2rem;
           padding: 1rem;
           color: #472183;
           margin-top: 10px;
           font-size: 0.8rem;
           opacity: 0.8;
           width: 18rem;
           height: 6rem;
       } 
   }
   &__btn {
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: #9501d4;
       border-radius: 2rem;
       width: 7rem;
       height: 2.5rem;
       padding: 10px;
       cursor: pointer;
       color: white;
       border: none;
       font-size: 1rem;
       margin: 10px;
       margin-bottom: 1rem;
    }
}
 @media all and (min-width: 768px) {
    .form {
    
        &__title {
           font-size: 1.5rem;
            margin-top: 70px;
        }
        &__group {
            width: 30rem;
            padding: 1rem;
            margin-left: 1rem;
            opacity: 0.8;
            display: flex;
            flex-direction: column;
            justify-content: center;
           
            &__label {
               font-size: 1.3rem;
               margin: 10px;
            }
            &__input {
                margin-left: 8px;
                width: 25rem;
                height: 3rem;
                padding: 10px;
               
            }
            &__text {
                padding: 10px;
                width: 25rem;
                height: 8rem;
                margin-left: 10px;
            }
        }

        &__btn {
            font-size: 1.2rem;
            padding: 10px;
        }
    }
 }
@media all and (min-width: 1200px) {
    .form {
    
        &__title {
            font-size: 1.7rem;
        }

        &__group {
            width: 28rem;
            margin: 1rem;
        }
    }
}