.contact {
    margin-top: 90px;
    font-family: $font-familyMono;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__title {
        font-size: 1.5rem;
        color: #472183;
        text-transform: uppercase;
        padding: 10px;
        margin-left: 3rem;
    }
    &__links {
       margin: 10px;
       display: flex;
       flex-direction: column;
       margin-left: 3rem;
       opacity: 0.6;
       transition: 0.3s;
       
      &__icon {
        margin: 10px;
        color: white;
        background-color:#9501d4;
        padding: 10px;
        cursor: pointer;
       
       
      }
    
    }
}

.contact__links:hover {opacity: 1}

@media all and (min-width: 768px) {
    .contact {
       
        &__title {
            font-size: 2.3rem;
            margin: 30px;
            margin-left: 6rem;
            margin-top: 50px;
        }
        &__links {
            display: flex;
            flex-direction: row;
            margin-left: 3.5rem;

            &__icon {
                padding: 10px;
                font-size: 1.5rem;
                margin: 2rem;
            }
        }
    }
 }

@media all and (min-width: 1200px) {
        .contact {
                &__title {
                    font-size: 2.5rem;
                    margin-left: 10rem;
                }
        
                &__links {
                    display: flex;
                    flex-direction: row;
                    margin-left: 10rem;
        
                    &__icon {
                        padding: 18px;
                        font-size: 1.5rem;
                        margin: 5rem;
                        
                    }
                }
            }
  }

.form {
   color: #472183;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 2px solid #7301a3;
   margin-left: 2rem;
   
   &__title {
    padding: 10px;
    font-size: 1.2rem;
    color: #472183;
    font-family: $font-familyMono;
    margin: 20px;
    margin-top: 40px;
    margin-left: 2rem;
   }
   &__group {
        padding: 10px;
        margin-top: 5px;
        &__label {
            font-size: 1rem;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 10px;
        }
        &__input {
           background-color: #efe9f7;
           border: 1px solid #a659c7;
           padding: 5px;
           color: #472183;
        }
        &__text {
           background-color: #efe9f7;
           border: 1px solid #a659c7;
           padding: 10px;
           color: #472183;
           margin-top: 10px;
           width: 15rem;
           height: 6rem;
       } 
   }
   &__btn {
       background-color: #9501d4;
       padding: 10px;
       cursor: pointer;
       color: white;
       border: none;
       font-size: 1rem;
       margin: 10px;
       margin-bottom: 15px;
    }
}
 @media all and (min-width: 768px) {
    .form {
       margin-left: 5rem;
        &__title {
            font-size: 1.5rem;
            margin: 30px;
            margin-top: 70px;
            margin-left: 6rem;
        }
        &__group {
            width: 30rem;
            padding: 25px;
            opacity: 0.8;
            display: flex;
            flex-direction: column;
            justify-content: center;
           
           
            &__label {
               font-size: 1.3rem;
               margin: 5px;
            }
            &__input {
                margin: 8px;
                width: 25rem;
                height: 3rem;
                padding: 10px;
               
            }
            &__text {
                padding: 10px;
                width: 25rem;
                height: 8rem;
            }
        }

        &__btn {
            font-size: 1.2rem;
            padding: 12px;
        }
        
    }
 }
@media all and (min-width: 1200px) {
    .form {
        margin-left: 5rem;

        &__title {
            font-size: 2rem;
            margin-left: 7rem;
        }

        &__group {
            width: 30rem;
            margin: 1rem;

        }
    }
}