.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    &__list {
        display: flex;
        flex-direction: row;
         padding: 30px;
    }
     &__icon {
      margin: 10px;
      cursor: pointer;
      color: black;
    }

}

@media all and (min-width: 768px) {
    .nav {
        display: none;
    }
}