.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    &__list {
        display: flex;
        flex-direction: row;
         padding: 30px;
    }
     &__icon {
      margin: 10px;
      padding: 7.2px;
      border-radius: 50%;
      cursor: pointer;
      background-color: white;
      transition: transform .2s;
    }

}
.nav__icon:hover {
    transform: scale(1.5);
}

@media all and (min-width: 768px) {
    .nav {
        display: none;
    }
}