.nav-box {
    width: 4rem;
}

.nav {
    background-color: #f2f2f2;
    }

/* menu style */
.nav-icon {
    margin-right: 2rem;
    font-size: 1rem;
    width: 1.8rem;
    height: 1.8rem;
    color: #472183;
    cursor: pointer;
}

/* list style */
.bm-item {
    display: inline-block;
    margin-bottom: 1rem;
    background-color: #f2f2f2;
    font-family: $font-familyMono;
    padding: 0rem 1rem;
    line-height: 3;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 2rem;
    cursor: pointer;
}

.nav .nav__list .nav__link:active {
    color: #b623f5;
}

@media all and (min-width: 768px) {
    .nav-box {
        display: none;
    }
}

