.box {
    width: 100%;
    padding: 10px;
    margin-top: 70px;
    font-family: $font-familyMono;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
     color: #472183;
     margin: 10px;
     font-size: 1.8rem;
     
    }
    &__subtitle {
        color: #472183;
        margin: 10px;
        font-size: 1rem;
        margin-bottom: 30px;
        margin-left: 30px;
    }
 
}
 @media all and (min-width: 768px) {
    .box {
        display: flex;
        flex-direction: column;
        //margin-left: 1rem;
        
         &__title {
            font-size: 2rem;
     
         }
         &__subtitle {
            margin-bottom: 20px;
         }
    
    }
 }

 @media all and (min-width: 1200px) {
    .box {
        //margin-left: 5rem;
    
            &__title {
                font-size: 2rem;
    
            }
    
            &__subtitle {
                margin-bottom: 30px;
                font-size: 1.5rem;
                padding: 10px;
                margin-top: 30px;

            }
    
        }
 }

 .projects {
    display: flex;
    flex-direction: column;

     &__article {
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;
        //border: 3px solid #5d0383;
        font-family: $font-family1;
        padding: 0.7rem;
        width: 18rem;
        height: 25rem;
        margin-bottom: 20px;
        opacity: 0.7;
        transition: 0.3s;
        background-color: #dbddec;
        border-radius: 1rem;

         &__img {
            width: 10rem;
            height: 7rem;
            margin: 10px;
            border-radius: 1rem;
         }

        &__title {
            color: #341860;
            margin: 10px;
            font-family: $font-family1;
            font-size: 1.2rem;
            font-weight: bold;
        }

        &__p {
         color: #472183;
         padding: 10px;
         font-size: 1rem;
        }

        &__links {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            &__icon {
                margin-right: 15px;
                color: white;
                border: 2px solid #9501d4;
                background-color: #9501d4;
                padding: 5px;
            }
        }

       
     }
 }
 .projects__article:hover {
     opacity: 1;
 }

  @media all and (min-width: 768px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem 3.5rem;
        padding: 1rem;
     
        //margin-left: 4rem;
        &__article {
            width: 18rem;
            height: 28rem;
            
            &__img {
                width: 13rem;
                height: 8rem;
             }
            &__links {
                padding: 0px;
                margin-top: 20px;
            }
            &__p {
                font-size: 1.1rem;
                padding: 5px;
            }

        }
    }
  }

   @media all and (min-width: 1200px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem 4rem;
        
        &__article {
            width: 20rem;
            height: 28rem;
           
            &__img {
                width: 15rem;
                height: 10rem;
               
            }
        }
    }
   }