.box {
    width: 100%;
    padding: 1rem;
    margin-top: 70px;
    font-family: $font-family1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
     color: #472183;
     margin: 10px;
     font-size: 1.8rem;
     
    }
    &__subtitle {
        color: #472183;
        margin: 10px;
        font-size: 1rem;
        margin-bottom: 30px;
        margin-left: 30px;
    }
 
}
 @media all and (min-width: 768px) {
    .box {
        display: flex;
        flex-direction: column;
        //margin-left: 1rem;
        
         &__title {
            font-size: 2rem;
     
         }
         &__subtitle {
            margin-bottom: 20px;
         }
    
    }
 }

 @media all and (min-width: 1200px) {
    .box {
        //margin-left: 5rem;
    
            &__title {
                font-size: 2rem;
    
            }
    
            &__subtitle {
                margin-bottom: 30px;
                font-size: 1.5rem;
                padding: 10px;
                margin-top: 30px;

            }
    
        }
 }

 .projects {
    display: flex;
    flex-direction: column;

     &__article {
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;
        border: 3px solid #7A86B6;
        font-family: $font-family1;
        padding: 0.7rem;
        width: 20rem;
        height: 30rem;
        margin-bottom: 20px;
        opacity: 0.7;
        transition: 0.3s;
        border-radius: 1rem;

         &__img {
            width: 10rem;
            height: 7.5rem;
            margin: 10px;
            border-radius: 1rem;
         }

        &__title {
            color: #5d0383;
            margin-top: 1rem;
            font-family: $font-family1;
            font-size: 1.3rem;
            font-weight: bold;
        }

        &__p {
         color: #474E68;
         padding: 0.5rem 0.2rem;
         font-size: 1rem;
         line-height: 1.3;
        }
        &__p2 {
            margin-bottom: 1rem;
            &__html {
                background-color: #E0144C;
                color: white;
                font-size: 1.6rem;
                padding: 0.2rem;
                border-radius: 5px;

            }
            &__css {
                background-color: #1363DF;
                    color: white;
                    font-size: 1.6rem;
                    padding: 0.2rem;
                    border-radius: 5.5px;
            }
            &__js {
                background-color: #ffe606;
                color:black;
                font-size: 1.8rem;
                padding: 0.1rem;
                border-radius: 5.5px;
            }
            &__react {
                background-color: black;
                color: #10d5dc;
                font-size: 1.6rem;
                padding: 0.2rem;
                border-radius: 40px;
            }
            &__git {
                background-color: #E74646;
                color: white;
                font-size: 1.6rem;
                padding: 0.2rem;
                border-radius: 10px;
            }
            &__data {
                color: #128783;
                font-size: 1.8rem;
                padding: 0.2rem;
                border-radius: 10px;
            }
            &__sass {
                color: #F35588;
                font-size: 1.9rem;
                padding: 0.2rem;
                border-radius: 10px;
            }
            &__vue {
                color: #27AA80;
                font-size: 1.9rem;
                padding: 0.2rem;
            }
        }

        &__links {
            padding: 1rem;
            &__icon {
                margin-right: 15px;
                color: white;
                border: 2px solid #9501d4;
                background-color: #9501d4;
                width: 6rem;
                height: 3rem;
                border-radius: 40px;
                padding: 0.5rem 1rem;
            }
        }

       
     }
 }
 .projects__article:hover {
     opacity: 1;
 }

  @media all and (min-width: 768px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem 3.5rem;
        padding: 1rem;
     
        //margin-left: 4rem;
        &__article {
            width: 22rem;
            height: 32rem;
            
            &__img {
                width: 15rem;
                height: 9rem;
             }
            &__links {
                padding: 0px;
                margin-top: 1rem;
            }
            &__p {
                font-size: 1rem;
               // padding: 0.5rem;
            }

        }
    }
  }

   @media all and (min-width: 1200px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem 4rem;
        
        &__article {
            width: 24rem;
            height: 34rem;
           
            &__img {
                width: 15rem;
                height: 10rem;
               
            }
        }
    }
   }