$font-harry: 'EB Garamond', serif;
$font-family1: 'Roboto', sans-serif;
$font-family: 'Roboto Slab', serif;
$font-familyMono: 'Roboto Mono',
monospace;

//colors
$color-white: #ffffff;
$color-violet: #AE00FB;