@import 'core/reset';
@import 'core/variables';
@import 'layout/nav';
@import 'layout/about';
@import 'layout/projects';
@import 'layout/contact';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #302c42;
  
}

.header {
background-color: #14131c;
height: 5rem;
position: fixed;
padding: 10px;
width: 100%;
opacity: 0.7;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;


     &__title {
        font-size: 1.2rem;
        font-family: monospace;
        text-transform: uppercase;
        color: #AE00FB;
        &__logo {
                width: 20px;
               
            }
     }

     &__list {
         display: flex;
         justify-content: space-around;
         display: none;
         color: #AE00FB;
    
         &__menu {
                 font-family: monospace;
                 font-size: 1rem;
                 margin: 20px;
                 cursor: pointer;
                // color: #AE00FB;
                 transition: 0.5s;
                 padding: 5px;
                 border-radius: 4%;
         }
     }  
}
.header__list__menu:hover {
    background-color:white;
    
} 

 @media all and (min-width: 768px) {
    .header {
            position: sticky;
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            padding: 10px;
            width: 100%;
            opacity: 0.9;
    
            &__title {
                font-size: 1.5rem;
                font-family: monospace;
               
            }
    
            &__logo {
                width: 30px;
              
            }

            &__list {
                display: flex;
                justify-content: space-around;
            
                &__menu {
                     margin: 20px;
                     font-size: 1.3rem;
                      text-transform: uppercase;
                      font-weight: bold;
            
                 }
             }
       }
    
    }
  
 @media all and (min-width: 1200px) {
    .header {
        position: fixed;
        opacity: 0.9;
        padding: 30px;
        &__list {    
             &__menu {
                margin: 30px;
                margin-right: 4rem;
                font-size: 1.5rem;
               
            }
        }
    }
 }

 .container {
    display: flex;
    flex-direction: row;
    padding: 30px;
 }

.footer {
    display: flex;
    margin-top: 100px;
    padding: 10px;
    height: 10%;
    color: white;
    opacity: 0.5;
}


 

