@import 'core/reset';
@import 'core/variables';
@import 'layout/nav';
@import 'layout/about';
@import 'layout/projects';
@import 'layout/contact';
@import 'layout/landing';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-familyMono; 
    background-color: #F9F9F9;
}

.header {
    background-color: #F1F1F6;
    height: 5rem;
    position: fixed;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

     &__title {
        font-size: 1.2rem;
        font-family: $font-family1,
            serif;
        text-transform: uppercase;
        font-weight: bolder;
        color: #472183;
        &__logo {
                width: 20px;
        }
     }

     &__list {
        display: flex;
        justify-content: space-around;
        display: none;
        color: #AE00FB;
    
         &__menu {
            font-family: $font-family1;
            font-size: 1rem;
            margin: 1rem;
            cursor: pointer;
            padding: 5px;
            border-radius: 4%;
         }
     }  
}
.header .header__list .header__link:active {
    color: #b623f5;
}

 @media all and (min-width: 768px) {
    .header {
        position: sticky;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;

        &__title {
            font-size: 1.5rem;
        }

        &__logo {
            width: 30px;
        }

        &__list {
            display: flex;
            justify-content: space-around;
        
            &__menu {
                margin: 1rem;
                font-size: 1.2rem;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}
  
 @media all and (min-width: 1200px) {
    .header {
        position: fixed;
        padding: 30px;
        &__list {    
             &__menu {
                margin: 1rem;
                margin-right: 3rem;
                font-size: 1.3rem;
            }
        }
    }
 }

 .container {
    display: flex;
    flex-direction: row;
    padding: 30px;
 }

.footer {

    display: flex;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 10px;
    height: 10%;
    color: #352961;
    opacity: 0.5;
    font-size: 0.7rem;
}

.downBtn {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__title {
        font-size: 1rem;
        color: #472183;
        font-family: $font-family1,
                serif;
        
    }
}
 .button {
 
     background-color: #eaeaea;
     color: #472183;
     border: none;
     border-radius: 50px;
     cursor: pointer;
     margin: 1rem;
     font-size: 3rem;

 }

 .button:hover {
      background-color: white;
      color: #AE00FB;
 }


 @media all and (min-width: 768px) {
    .footer {
        margin-top: 13rem;
        font-size: 0.9rem;
    }
    .downBtn {
        margin: 3rem;
        &__title {
            font-size: 1.2rem;

        }
    }
    .button {
        font-size: 3.5rem;
    }
 }

