@import 'core/reset';
@import 'core/variables';
@import 'layout/nav';
@import 'layout/about';
@import 'layout/projects';
@import 'layout/contact';
@import 'layout/landing';
@import 'layout/header';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-familyMono; 
    background-color: #F9F9F9;
}
 .container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow: auto;
 }

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
    padding: 10px;
    height: 10%;
    color: #352961;
    opacity: 0.5;
    font-size: 0.7rem;
}

 .button {
     background-color: #eaeaea;
     color: #472183;
     border: none;
     border-radius: 50px;
     cursor: pointer;
     margin: 1rem;
     font-size: 3rem;
 }

 .button:hover {
      background-color: white;
      color: #AE00FB;
 }


 @media all and (min-width: 768px) {
    .footer {
        margin-top: 22rem;
        font-size: 0.9rem;
        height: 10%;
    }
    .button {
        font-size: 3.5rem;
    }
 }

